header {
    text-align: center;
    margin-top: 3rem;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 60rem;
    color: #d8edea;
    background: radial-gradient( circle, rgb(156, 74, 214) 0%, rgb(118, 0, 108) 89%, rgb(81, 0, 93) 100%);
}

footer {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    font-size: 1.05rem;
    color: white;
    text-decoration: none;
}

h1 {
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.h3-center {
    text-align: center;
    margin: 10px;
}

.game-area {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 0, 0);
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  }
  
.grid div {
    width: 20px;
    height: 20px;
  }

.tetromino {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.611);
    border-radius: 3px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-color: blue;
  }

.previous-shape {
    width: 10rem;
    padding-left: 2rem;
    margin-top: -5rem;
}

.rigth-part {
    margin-left: 50px;
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display {
    border: 1px solid #fff;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 10rem;
    border-radius: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%);
}

.mini-grid {
    margin: auto;
    text-align: center;
    align-content: center;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(246, 246, 241, 0);
}

.mini-grid div {
    height: 20px;
    width: 20px;
}

.rules {
    margin-left: 1.2em;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button {
    margin-right: 10px;
    height: 30px;
    min-width: 30px;
    align-content: center;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%);
    background-color: rgba(227, 227, 218, 0.118);
    color:rgb(255, 255, 255);
    font-size: 1rem;
}

.button:hover {
    align-content: center;
    border-radius: 8px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.847);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%);
    background-color: rgba(227, 227, 218, 0.118);
    color:rgb(255, 223, 247);
    font-size: 1em;
}

.color-blink-white {
    animation-name: blink-white;
    animation-duration: 0.3s;
}

@keyframes blink-white {
    0%   {border: 1px solid rgba(255, 255, 255, 0.300);}
    20%  {border: 1px solid #fff;}
    40%  {border: 1px solid rgba(255, 255, 255, 0.300);}
    60%  {border: 1px solid #fff;}
    80%  {border: 1px solid rgba(255, 255, 255, 0.300);}
    100% {border: 1px solid #fff;}
}

.game-over {
    background-color: rgba(51, 4, 38, 0.875);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    position: fixed;
    z-index: 5;
    top: 150px;
    height: 200px;
    width: 100%;
    text-align: center;

}

.game-over h1 {
    color: rgba(246, 246, 246, 0.8);
}

.game-over p {
    margin: 0px;
}

.game-over div {
    margin-bottom: 8px;
}

.your-score {
    font-size: 2.5rem;
}